@CHARSET "UTF-8";

.main{
	display:block;
	color:#2F3039;
	width:350px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}


.main .mes{
	color:#DE8B47;;
	font-size:12px;
}

table,th,td{
	border:solid 0px;
}

.main th{
	font-size:12px;
	padding:7px;
	text-align:right;
}


.main input#submit_button{
    display:block;
	margin:30px;
	background-color:#DE8B47;
	margin-left:auto;
	margin-right:auto;
}

.main input#back_button{
	margin:30px;
	float:left;
	background-color:#DE8B47;
	posision:absolute;

}

