@CHARSET "UTF-8";

h1{
	color:#2F3039;
	font-size:30px;
	text-align:center;
}

h2{
	color:#2F3039;
	font-size:24px;
	text-align:center;
}

h3{
	color:#2F3039;
	font-size:20px;
	text-align:center;
}

h4{
	color:#2F3039;
	font-size:16px;
	text-align:center;
}

h5{
	color:#2F3039;
	font-size:12px;
	text-align:center;
}

.main .links{
	display:block;
	margin-left:auto;
	margin-right:auto;
}


.amazon {
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2F3039;
	color: white;
}


.logo {
	float: left;
	height: 65px;
	width: 65px;
	padding-left: 10px;
	padding-top: 10px;

}


.amazon .search{
	height: 25px;
	position: absolute;
    margin-top: 35px;
    background-color:#fff;
    border:1px solid #aaa;
    border-radius:6px;
    margin-left: 100px;
    max-width: 600px;
}


.search .category{
	border-radius:6px;
	border: none;
	height: 25px;
	width: 130px;
}


.search input[type=text]{
	height: 25px;
    border: none;
    width: 300px;
}

.search input[type= text]:focus {
    border:1px solid #FEAD51;
    height: 23px;
    width: 298px;
}


#searchButton{
	float: right;
    background: #FEAD51;
    border: 1px solid white;
    border-radius: 0 5px 5px 0;
    color: #fff;
    width: 25px;
    height: 25px;
}

#searchButton .searchIcon {
	margin: 5px 10px 5px 10px;
}

#searchButton:hover{
	background: #DE8B47;
}





.search .cart:hover #cartIcon{
	 border:1px solid #FEAD51;
	border-radius: 8px;

}

header .container {
	width: 100%;
	height: 40px;
	position:fixed;
	top: 85px;
	left: 0;
	background-color: #4F5059;
}


.container .menu {
	display:block;
	float:right;
	list-style: none;
	line-height:43px;
    position:fixed;
	top:69px;
	right: 0;
	width:absolute;
}

ul li a{
	display:block;
	float: left;
	font-size:15px;
	width: 85px;
	height: 40px;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color:#4F5059;
}


ul li:hover a {
	width: 85px;
	height: 40px;
	background-color:#DE8B47;

}


#cartIcon {
	right: 0;
	padding-top:10px
}


.main {
	padding-top: 100px;
	margin: 40px;
}

