

.main-container{
	width: 100%;
	margin: 0 auto;
	margin-top:200px;

}

.left{
	float:left;
	width:50%;
	height:400px;
	margin-bottom:200px

}

.right{
	float:left;
	width:50%;
	height:400px;
	margin-bottom:200px;

}
.bottan{
	margin-top:50px;
	margin-right:20%
}

.product-right{
	margin-top:110px;
	padding: 40px 40px;

}

.image{
	width:90%;
}

.aa{
	clear:left;
}

  .item {
   width: 230px;
   margin-bottom:38px;
   padding: 8px;
   border:1px outset;
   border-bottom: 3px solid;
   border-radius: 10px;
   background-color: #ffe6e6;
   float:left;
   margin:20px 40px;
   }

 .item .itemImage{
   width: 230px;
   height:200px;
 }

 .item > a {
   display: block;
   margin: -8px -8px -11px;
   padding: 8px 8px 11px;
   border-radius: inherit;

   transition: all 0.3s;
 }

 .item > a:hover {
   box-shadow: 7px 5px 2px 7px rgba(0, 0, 0, 0.5);
   opacity: 0.8;
   list-style:none;
   }
   .aa{
	list-style:none;
}
.botan{ text-align : center ; }





