@CHARSET "UTF-8";

.main h5{
	color:#DE8B47;
	font-size:16px;
}

.main .containpro{
	width:770px;
	margin-left:auto;
	margin-right:auto;
}

.main ul{
	list-style: none;
}

.main li{
	float:left;
	margin:20px;
	width:200px;
	height:240px;
	font-size:14px;
}

.main .pageSelect{
	clear:both;
}